block footer
	p Tour de Monterosa is available on 
		a(href="https://github.com/uphillstruggle/teamchallenge") Github.com
	
	script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js')
	script(src='https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js')
	script.
		var firebaseConfig = { !{firebase_config} }; 
		var firebaseConfig2 = { !{firebase_config2} }; 
		firebase.initializeApp(firebaseConfig); 
		var secondary = firebase.initializeApp(firebaseConfig2, "Secondary"); 
		const analytics = firebase.analytics();
		const analytics2 = secondary.analytics();
		analytics.logEvent('tc_page_view', { page_name: '#{pagename}' });
		analytics2.logEvent('sc_page_view', { page_name: '#{pagename}' });
		analytics.setCurrentScreen ('#{pagename}');
	if (user)
		script. 
			analytics.setUserId('#{user.id}'); 
			analytics.setUserProperties({ premium: '#{user._json.premium}', summit: '#{user._json.summit}'}); 

