extends _bootstrap
append styles
	meta(description=event.description)
	// Bootstrap theme
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	// Custom styles for this template
	link(href='/css/justified-nav.css', rel='stylesheet')
block body
	include navbar.pug
	.container.theme-showcase(role='main')
		.jumbotron
			h1 #{event.name}
			p
				| #{event.description}
				+carousel("main_carousel",[ {image:stage_image}, {image:event_image}])

			p
			p
				+a-btn-primary('/auth/login') Sign in with Strava
			p
				strong Activity date range 
				|	#{event.first_date} to #{event.last_date} - 
				strong Activity types: 

				each item in activity_types
					if (item.allowed)
						| #{item.name} 

		h2 Progress Overall #{ Math.trunc(distance*1000 / event.distance_goal)/10} %
		table.table
			tr
				td(style="text-align:left;") 0 km
				td(style="text-align:center;") Today - #{distance} km
				td(style="text-align:right;") #{event.distance_goal} km
				
		+progress-bar-warning(distance * 100 / event.distance_goal)

		h2 Progress Stage #{stage}: 
		table.table
			tr
				td(style="text-align:left;") 0 km
				td(style="text-align:center;") Today - #{distance-stages[stage-1].startdistance} km
				td(style="text-align:right;") #{stages[stage-1].distance} km
				
		+progress-bar-warning((distance-stages[stage-1].startdistance) * 100 / stages[stage-1].distance)


		.row
			.col-md-6
				h3 Most recent activities
				table.table
					thead
						tr
							th Date
							th Name
							th Distance km
							th Type
					tbody
						each row in activities
							tr
								td #{row.date}
								td #{row.athlete}
								td #{row.distance}
								td #{row.type}

			.col-md-6
				h3 Top athletes
				table.table
					thead
						tr
							th Name
							th Country
							th Activities
							th Distance km
					tbody
						each row in athletes
							tr
								td #{row.name}
								td #{row.country}
								td #{row.activities}
								td #{row.distance}

		include footer.pug
