extends _bootstrap
append styles
	// Bootstrap theme
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	// Custom styles for this template
	link(href='/css/theme.css', rel='stylesheet')
block body
	include navbar.pug	
	.container.theme-showcase(role='main')
		h2 Leaderboard overall
		p
			table.table
				thead
					tr
						th 
						th Name
						th Country
						th Activities
						th Elevation m
						th Distance km
				tbody
					each row in athletes
						tr
							td  
								img(src=row.jersey,style='height:25px')
							td #{row.name}
							td #{row.country}
							td #{row.activities}
							td #{row.elevation}
							td #{row.distance}

		each s in athletesbystage
			h2 Leaderboard Stage #{s.stage} #{stages[s.stage-1].name} (#{stages[s.stage-1].distance}km)
			p
				table.table
					thead
						tr
							th 
							th Name
							th Country
							th Activities
							th Elevation m
							th Distance km
					tbody
						each row in s.athletes
							tr
								td  
									img(src=row.jersey,style='height:25px')
								td #{row.name}
								td #{row.country}
								td #{row.count}
								td #{row.elevation}
								td #{row.distance}

		include footer.pug
